 

<div class="atend"> 

    <div class="row atendimento-texto">
        <div class="col-lg-12">

            <h2>Central de Atendimento </h2>

        </div>    
    </div>



<div class="row atendimento" >
        <div class="col-lg-3">    

            <div class="card atendimento-menu">

                <a href="RegrasFrete.html"><p class="regra-img">Regras de frete</p></a>
            </div>  

        </div>

        <div class="col-lg-3">    

            <div class="card atendimento-menu">

                <a href="TrocaDevolucao.html"><p class="troca-img">Troca ou devolução<p></a>
            </div>  

        </div>

        <div class="col-lg-3">    

            <div class="card atendimento-menu">

                <a href="FormaPagamento.html"><p class="pag-img">Formas de pagamento<p></a>
            </div>  

        </div>

        <div class="col-lg-3">    

            <div class="card atendimento-menu">

                <a href="AcompanhePedido.html"><p class="acomp-img">Acompanhe seu pedido<p></a>
            </div>  

        </div>


</div>



<div class="row atendimento" >
    <div class="col-lg-3">    

        <div class="card atendimento-menu">

            <a href=" "><p class="conta-img">Minha conta<p></a>
        </div>  

    </div>

    <div class="col-lg-3">    

        <div class="card atendimento-menu">

            <a href=" "><p class="tel-img">Telefone e endereço da loja<p></a>
        </div>  

    </div>

    <div class="col-lg-3">    

        <div class="card atendimento-menu">

            <a href=" "> <p class="comoComp-img">Como comprar<p></a>
        </div>  

    </div>

    <div class="col-lg-3">    

        <div class="card atendimento-menu">

            <a href=" "> <p class="serv-img">Serviços<p></a>
        </div>  

    </div>


</div>

<div class="row separacao-atendimento">

<div class="texto-rodape">
    <p> <strong>Ainda com Duvidas?</strong> Entre em contato por telefone ou envie um e-mail para atendimento@rd.com.br<p>
</div>

</div>


</div>









