 

<div class="atend"> 

    <div class="row atendimento-texto">
        <div class="col-lg-12">

            <h2>Central de Atendimento </h2>

        </div>    
    </div>



<div class="row atendimento" >
        <div class="col-lg-3">    

            <div class="card atendimento-menu">

                <a routerLink="/atendimento/regrasFrete"><p class="regra-img">Regras de frete</p></a>
            </div>  

        </div>

        <div class="col-lg-3">    

            <div class="card atendimento-menu">

                <a routerLink="/atendimento/trocaDevolucao"><p class="troca-img">Troca ou devolução<p></a>
            </div>  

        </div>

        <div class="col-lg-3">    

            <div class="card atendimento-menu">

                <a routerLink="/atendimento/formaPagamento"><p class="pag-img">Formas de pagamento<p></a>
            </div>  

        </div>

        <div class="col-lg-3">    

            <div class="card atendimento-menu">

                <a routerLink="/atendimento/acompanhePedido"><p class="acomp-img">Acompanhe seu pedido<p></a>
            </div>  

        </div>


</div>



<div class="row atendimento" >
    <div class="col-lg-3">    

        <div class="card atendimento-menu">

            <a routerLink="/atendimento/conta"><p class="conta-img">Minha conta<p></a>
        </div>  

    </div>

    <div class="col-lg-3">    

        <div class="card atendimento-menu">

            <a routerLink="/atendimento/contato"><p class="tel-img">Contato<p></a>
        </div>  

    </div>

    <div class="col-lg-3">    

        <div class="card atendimento-menu">

            <a routerLink="/atendimento/compras"> <p class="comoComp-img"> Compras<p></a>
        </div>  

    </div>

    <div class="col-lg-3">    

        <div class="card atendimento-menu">

            <a routerLink="/atendimento/servicos"> <p class="serv-img">Serviços<p></a>
        </div>  

    </div>


</div>

<div class="row separacao-atendimento">

<div class="texto-rodape">
    <p> <strong>Ainda com Duvidas?</strong> Entre em contato por telefone ou envie um e-mail para atendimento@rd.com.br<p>
</div>

</div>


</div>









