<app-header-secondary></app-header-secondary>

<div style="background: white;">
  <div class="container">
    <div class="row">
      <div class="col-12 text-center my-5">
        <h1>Informações cadastrais</h1>
      </div>
    </div>
  </div>

  <div class="row justify-content-center mb-5">
    <div class="col-sm-12 col-md-10 col-lg-8">
      <form name="forminfo">
        <div class="form-row">
          <div class="form-group col-md-6 col-12">
            <label for="inputName">Nome Completo*</label>
            <input value="{{cliente.nmCliente}}" type="text" class="form-control" id="inputName"
              placeholder="Nome e Sobrenome" maxlength="65" name="nmCliente" [(ngModel)]="request.nmCliente">
          </div>

          <div class="form-group col-md-6 col-12">
            <label for="inputCpf">CPF*</label>
            <input type="text" class="form-control" id="inputCpf" placeholder="000.000.000-00"
              value="{{cliente.nrCpf | mask:'000.000.000-00'}}" name="nrCpf" [(ngModel)]="request.nrCpf">
          </div>

          <div class="form-group col-md-3 col-6">
            <label for="inputDtNasc">Data de nascimento*</label>
            <input value="{{cliente.dtNasc | date:'dd/MM/yyyy'}}" id="inputDtNasc" class="form-control" name="dtNasc"
              [(ngModel)]="request.dtNasc">
            <!-- type="date" -->
          </div>
          <div class="form-group col-md-3 col-6">
            <label for="inputGen">Gênero*</label>
            <select id="inputGen" class="form-control" name="dsGenero" [(ngModel)]="request.dsGenero">
              <option selected> </option>
              <option value="MS">Masculino</option>
              <option VALUE="FM">Feminino</option>
            </select>
          </div>
          <div class="form-group col-md-3 col-6">
            <label for="inputTel1">Telefone*</label>
            <input type="text" class="form-control" id="inputTel1" placeholder="(00) 0 0000-0000"
              mask="(00) 0000-0000 ||(00) 0 0000-0000" name="nrTelefone1" [(ngModel)]="request.nrTelefone1">
          </div>
          <div class="form-group col-md-3 col-6">
            <label for="inputTel2">Telefone 2</label>
            <input type="text" class="form-control" id="inputTel2" placeholder="(00) 0 0000-0000"
              mask="(00) 0000-0000 ||(00) 0 0000-0000" name="nrTelefone2" [(ngModel)]="request.nrTelefone2">
          </div>
          <div class="form-group col-md-6">
            <label for="inputEmail">E-mail*</label>
            <input type="email" class="form-control" id="inputEmail" placeholder="exemplo@exemplo.com.br" name="dsEmail"
              [(ngModel)]="request.dsEmail">
          </div>
          <!-- <div class="form-group col-md-3 col-6">
            <label for="inputPassword1">Senha*</label>
            <input type="password" class="form-control" id="inputPassword1" name="pwCliente"
              [(ngModel)]="request.pwCliente">
          </div> -->

        </div>
        <div class="form-row float-right">
          <div class="my-4">
            <button type="submit" class="btn btn-success" (click)="updateDadosCliente()">Salvar Alterações</button>
          </div>
        </div>
      </form>
    </div>
  </div>

  <div class="container">
    <div class="row">
      <div class="col-12 text-center my-3">
        <h1>Informações de Endereço</h1>
      </div>
    </div>
  </div>
  <div class="row justify-content-center ">
    <div class="col-12 col-md-10 col-lg-8">
      <form name="formendereco">
        <div class="form-row">
          <div class="form-group col-2">
            <label for="inputCep">CEP</label>
            <input type="text" class="form-control" id="inputCep" placeholder="Ex. 03553-000" name="nrCep"
            [(ngModel)]="primeiroEndereco.nrCep">
          </div>
          <div class="form-group col-md-6 col-12">
            <label for="inputLogradouro">Logradouro</label>
            <input type="text" class="form-control" id="inputLogradouro" placeholder="Ex. Rua" name="dsEndereco"
            [(ngModel)]="primeiroEndereco.dsEndereco">
          </div>
          <div class="form-group col-2">
            <label for="inputNumero">Numero</label>
            <input type="text" class="form-control" id="inputNumero" placeholder="Ex. Rua" name="nrEndereco"
              [(ngModel)]="primeiroEndereco.nrEndereco">
          </div>
          <div class="form-group col-md-6 col-12">
            <label for="inputComplemento">Complemento</label>
            <input type="text" class="form-control" id="inputComplemento" name="nmCompleto"
            [(ngModel)]="primeiroEndereco.nmCompleto">
          </div>
          <div class="form-group col-6">
            <label for="inputBairro">Bairro</label>
            <input type="text" class="form-control" id="inputBairro" placeholder="Ex. Jardim Flores" name="dsBairro"
            [(ngModel)]="primeiroEndereco.dsBairro">
          </div>
          <div class="form-group col-3">
            <label for="inputCidade">Cidade</label>
            <input type="text" class="form-control" id="inputCidade" placeholder="Ex. São Paulo" name="dsCidade"
              [(ngModel)]="primeiroEndereco.dsCidade">
          </div>
          <div class="form-group col-3">
            <label for="inputEstado">Estado</label>
            <select id="inputEstado" class="form-control" name="sgEstado" [(ngModel)]="primeiroEndereco.sgEstado">
              <option selected></option>
              <option>AC</option>
              <option>AL</option>
              <option>AP</option>
              <option>AM</option>
              <option>BA</option>
              <option>CE</option>
              <option>ES</option>
              <option>ES</option>
              <option>GO</option>
              <option>MA</option>
              <option>MT</option>
              <option>MS</option>
              <option>MG</option>
              <option>PA</option>
              <option>PB</option>
              <option>PR</option>
              <option>PE</option>
              <option>PI</option>
              <option>RJ</option>
              <option>RN</option>
              <option>RS</option>
              <option>RO</option>
              <option>RR</option>
              <option>SC</option>
              <option>SP</option>
              <option>SE</option>
              <option>TO</option>
              <option>DF</option>
            </select>
          </div>
        </div>
        <div class="row">
          <div class="form-group col-4 justify-content-flex-start">
            <div class="my-4">
              <button type="submit" class="btn btn-success">Inserir</button>
            </div>
          </div>
          <div class="form-group col-4 justify-content-center">
            <div class="my-4">
              <button type="submit" class="btn btn-primary">Editar</button>
            </div>
          </div>
          <div class="form-group col-4 ">
            <div class="my-4">
              <button type="submit" class="btn btn-danger" (click)="deleteEnderecoCliente()">Excluir</button>
            </div>
          </div>
        </div>
      </form>
    </div>
  </div>

  <div class="container">
    <div class="row">
      <div class="col-12 text-center my-3">
        <h1>Informações de Cartão</h1>
      </div>
    </div>
  </div>
  <div class="row justify-content-center ">
    <div class="col-12 col-md-10 col-lg-8">
      <form name="forminfo">
        <div class="form-row">
          <div class="form-group col-md-6 col-12">
            <label for="inputNumeroCartao">Número do Cartão</label>
            <input type="text" class="form-control" id="inputNumeroCartao" placeholder="0000.0000.0000.0000">
          </div>
          <div class="form-group col-md-6 col-12">
            <label for="inputNomeCartao">Nome </label>
            <input type="text" class="form-control" id="inputNomeCartao" placeholder="Nome no cartão">
          </div>
        </div>
        <div class="row">
          <div class="form-group col-4 justify-content-flex-start">
            <div class="my-4">
              <button type="submit" class="btn btn-success">Inserir</button>
            </div>
          </div>
          <div class="form-group col-4 justify-content-center">
            <!-- <div class="my-4">
              <button type="submit" class="btn btn-primary">Salvar alterações</button>
            </div> -->
          </div>
          <div class="form-group col-4 ">
            <div class="my-4">
              <button type="submit" class="btn btn-danger">Excluir</button>
            </div>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
<app-footer-secondary></app-footer-secondary>