
<div class="content" role="main">

  <!--Header-Entrega-->
  <!-- <div class="row">
    <div class="col-12 justify-content-center">
      <app-headerentrega>

      </app-headerentrega>
    </div>
  </div> -->


  <!--Body da tela de Identificação-->
 <!--  <app-bodyidentificacao></app-bodyidentificacao> -->

 <!--Body da tela de Login-->
  <!-- <app-bodylogin></app-bodylogin> -->

  <!--Body da tela de Entrega-->
  <!-- <app-bodyentrega></app-bodyentrega> -->

  <!--Body da tela de Minha Conta-->
  <!-- <app-bodyminhaconta></app-bodyminhaconta> -->

  <!--Footer-Entrega-->
  <!-- <div class="row">
    <div class="col-12 justify-content-center">
      <app-footerentrega></app-footerentrega>
    </div>
  </div> -->

<div class="container home">
  <app-header-main></app-header-main>
  <app-menu-categoria></app-menu-categoria>
  <!-- <app-cadastro></app-cadastro> -->
<!--   <app-produto-detalhes></app-produto-detalhes>
  <app-carosel></app-carosel>
  <app-destaques-carosel></app-destaques-carosel> -->
  <!-- <app-menu-categoria></app-menu-categoria>
  <app-carosel></app-carosel>
  <app-destaques-carosel></app-destaques-carosel> -->

  <app-cesta></app-cesta>
  
  <app-footer-main></app-footer-main>

  </div>
</div>