 <div class="row cesta-tela">
   <div class="col-lg-4">
     <h2 class="row cesta-img">Minha Cesta</h2>
   </div>
 </div>


 <div class="row">



   <div class="col-lg-8">
     <div class="col cont-cesta ">
       <div class="row ">
         <div class="col-lg-12 descricao-cesta ">
           <ul>
             <li class="col-lg-2">Produto</li>
             <li class="col-lg-2">Descrição</li>
             <!-- <li   class="col-lg-2">Quantidade</li> -->
             <li class="col-lg-1">Valor</li>
           </ul>
         </div>
       </div>
       <div class="  col-lg-12 produto-cesta">

         <div class="col-lg-3">
           <img src="{{produtos[0].imagens[0].dsUrl}}">
         </div>

         <div class="col-lg-4">
           <ul>
             <p>{{produtos[0].nomeFantasia}}</p>
           </ul>
         </div>
         <!-- <div class="col-lg-3">
                        <div data-app="product.quantity" id="quantidade">
                            <input type="button" class="btn btn-light " id="plus" value=' - ' (click)="subtrair()" />
                            <input id="quant" name="quant" class="text qt-cesta" size="1" type="text"  [(ngModel)]="quant" maxlength="5" [disabled]="true" />
                            <input type="button" class="btn btn-light " id="minus" value='+' (click)="somar()">
                        </div>
                    </div> -->
         <div class=" col-lg-2">
           <span>
             {{produtos[0].valorUnidade | currency: 'BRL': true}}
           </span>
         </div>
         <div>
           <a href="#" class="lixeira-cesta">Excluir</a>
         </div>
       </div>
     </div>

     <!-- <div class="row col-lg-12">
       <button type="submit" class="btn btnContinuar btn-success" routerLink="">Continuar Comprando</button>
     </div> -->

   </div>




   <div class="col-3 resumo-cesta">

     <ul class="row">
       <li class=" col-lg-12 desc-resumo ">
         Resumo
       </li>
       <li class=" col-lg-12 ">

         <!-- Produtos: {{quant}} -->

       </li>
       <li class=" col-lg-12  ">

         Valor Frete: Grátis

       </li>
       <li>
         <div class=" col-lg-12 linha-cesta"></div>
       </li>
       <li class=" col-lg-12 desc-resumo">

         Total:

       </li>
       <li class=" col-lg-12">
        {{produtos[0].valorUnidade | currency: 'BRL': true}}
       </li>
     </ul>


     <form action="" class="col-lg-12">
       <button type="submit" class="btn btnFinalizar btn-success" routerLink="/entrega">Finalizar Compra</button>
     </form>

   </div>

 </div>
