.tituloCad{
    margin-left: 50px;
    color: #016f33;
}
.formCadastro{
    padding: 50px;
}

.checkCad {
    border: 0px;
    padding: 0px;
    color: white;
}

#posicionar{
    position: relative;
    left: 70%; 

}
#posicionar1{
    position: relative;
    left: 50%;


}
#tel{
    margin-right: 30px;
}