 

  

 

<div class="row col justify-content-center">       

 
    <div class="row pag-titulo">
          <div class="col-lg-12">

              <h2> Como Comprar </h2>

          </div>    
      </div>


   <div class="container-texto">   

    <h2 class="tituloContainer"> Posso comprar com Convênio Empresa?</h2>

      <br>

      <p>
        Sim, atualmente aceitamos o convênio Univers. Para mais informações entre em contato com
         a nossa central de atendimento. <p>Horário de atendimento das 07h00 as 21h00, telefone 
         3004-8007.
      </p>

      
      <br><br>


      <h2 class="tituloContainer">  Posso comprar medicamentos controlados no site?</h2>
      <br>
      <p>
        Não, de acordo com a Anvisa Portaria Nº 344- 01/02/1999 Ministério da Saúde é proibida a venda 
        de medicamentos controlados através de site.

        <p>Para mais informações poderá entrar em contato através da nossa Central de Atendimento ao
        Cliente no telefone 3004-8007 ou atendimento@drogasil.com.br.  
        <p>Atendimento de Segunda á Sábado, das 8:00h às 21:00h, ou envie e-mail para farmaceutico@drogasil.com.br.
      </p>

      <br><br>

    

      <h2 class="tituloContainer"> Posso comprar medicamento antibiótico no site?</h2>
      <br>
        <p>Sim, porém conforme RDC 20/2011, a aquisição de medicamento antimicrobiano somente
             poderá ser realizada com o envio antecipado da imagem do receituário médico. 
             Para realizar sua compra, insira o item no carrinho, escolha a forma de envio 
             antecipado da receita, e anexe a imagem ao pedido, o envio poderá ser feito via 
             WhatsApp através do número: (11) 3489-8715 ou e-mail receitas@drogasil.com.br                                                        
            <p>* inclua no campo solicitado os dados da sua receita e finalize o pedido. Após validar
             será feito o envio, a receita é retirada no momento da entrega.

      </p>

      <br><br>

    

      <h2 class="tituloContainer"> O valor dos produtos do site, televendas e lojas são os mesmos?</h2>
      <br>
        <p>Os valores são os mesmos para site e televendas*. Devido a uma política de preço, 
            os valores das lojas físicas são diferentes. 
            <p>*Exceto para promoções Vantagens e Programa laboratório.

           <p> Para saber o valor exato da sua região é necessário se logar no site ou entrar em contato com o nosso televendas no telefone 3003-7242 ou Fale conosco: rac@drogaraia.com.br.                                                  
            Atendimento de Segunda à Segunda das 7:00h às 21:00h.

      </p>
 

   </div>



   
  
    
  <div class="container-atend-rodape">


      <div class=" voltarLink">
        <button type="button" class="btn btn-success"  routerLink="/atendimento" >Voltar</button>
  
      </div>  


      <div class="row separacao-atendimento">


          <div class="row texto-rodape">
              <p> <strong>Ainda com Duvidas?</strong> Entre em contato por telefone ou envie um e-mail para atendimento@rd.com.br<p>
          </div>

      </div>

  </div>


</div>





 





