 

<div class="row col justify-content-center">


    <div class="row pag-titulo">
          <div class="col-lg-12">

              <h2>Formas de Pagamento </h2>

          </div>    
      </div>


   <div class="container-texto">   

      <h2 class="tituloContainer">  Quais as formas de pagamento disponíveis?</h2>
          <br>
      <p>
          Para maior comodidade temos as seguintes formas de pagamento disponíveis:
          <br>( Disponível no Site, Aplicativo e Televendas)<br>
          <br>
         <strong>Cartão de Crédito</strong> 
         <br> 
          As compras feitas com essa modalidade de pagamento podem ser parceladas em até 3 vezes para valores acima
           de R$ 90,00 (Visa, MasterCard, American Express, Elo, Dinners, Aura e Hipercard).
          <br>
          O processo de aprovação do cartão leva em consideração o valor total da compra e não somente o valor da parcela. 
          Esse valor deve estar dentro do limite disponível do seu cartão de crédito.
          <br><br>
           <strong>Débito Online</strong> 
           <br> 
          Prazo de até 24h para compensação (Bradesco, Itaú e Banco do Brasil).
          <br><br>
          <strong>Boleto Bancário</strong>
          <br> 
          Realize o pagamento do boleto em qualquer agência bancária, casa lotérica ou internet banking.
          Caso o pagamento não seja realizado o pedido será cancelado automaticamente. 
          A confirmação do pagamento ocorre em até 2 dias úteis, após esse período seu pedido será liberado para entrega conforme 
          modalidade de entrega escolhida.
          
          
          <br><br>
         <strong>Lojas Físicas</strong> 
         <br>
          
          Para compras feitas nas lojas físicas, você pode pagar em dinheiro, cartões de crédito: Visa, Mastercard, Elo, American Express,
           Hipercard, Cred Z, Sorocred,
           Elo, Brasil Convênios, Banrisul, Banese. Débito: Visa, Mastercard, Elo. Google Pay. Convênios: Orizon, Funcional Card,
            E-pharma (todos os programas)
            Vida Link, 
           Good Pharma, Novartis e Univers.

      </p>
      <br><br>
            <h2 class="tituloContainer">Quantas vezes posso parcelar em cartão de crédito?</h2>

      <br>

      <p>
          As compras realizadas nesta modalidade de pagamento podem ser parceladas em até 3 vezes para compras acima de 90 reais.
          O processo de aprovação do cartão leva em consideração o valor total da compra e não somente o valor da parcela. Esse valor 
          deve estar dentro do limite disponível do seu cartão de crédito.
      </p>

      <br><br> 

      <h2 class="tituloContainer"> Os valores são os mesmos para Loja, Televendas e Site?</h2>
      <br>
      <p>

          Os valores são os mesmos para site e televendas*. Devido a uma política de preço, os valores das lojas físicas 
          são diferentes. *Exceto para promoções Vantagens e Programa laboratório.

          Para saber o valor exato da sua região é necessário se logar no site ou entrar em contato com o nosso televendas no telefone 
          3003-7242 ou Fale conosco: rac@drogaraia.com.br.                                                  
          Atendimento de Segunda à Segunda das 7:00h às 21:00h.

      </p>




   </div>


  
    
  <div class="container-atend-rodape">


      <div class="row voltarLink">
        <button type="button" class="btn btn-success"  routerLink="" >Voltar</button>
  
      </div>  


      <div class="row separacao-atendimento">

          <div class="row texto-rodape">
              <p> <strong>Ainda com Duvidas?</strong> Entre em contato por telefone ou envie um e-mail para atendimento@rd.com.br<p>
          </div>

      </div>



  </div>

</div>  







