



 

 

  

 

<div class="row col justify-content-center">       

    
    <div class="row pag-titulo">
          <div class="col-lg-12">

              <h2> Serviços </h2>

          </div>    
      </div>


   <div class="container-texto">   

    <h2 class="tituloContainer"> Programas dos laboratórios</h2>

      <br>

      <p>
        Com o Programa de Benefício em Medicamentos, PBM, você pode aproveitar os descontos
         em medicamentos e dermocosméticos dos principais laboratórios farmacêuticos. Aqui você tem mais uma opção para economizar e cuidar da sua 
          saúde.
      </p>
 
   </div>

   <div class="container-texto">   

    <h2 class="tituloContainer"> Univers</h2>

      <br>

      <p>
        A Univers administra programas de benefícios na aquisição de medicamentos gerando mais
         saúde e qualidade de vida aos seus beneficiários e economia e praticidade à empresas e 
         operadoras de saúde.
      <p> Para mais informações acesse: 
          <p> www.univers-pbm.com.br/beneficioMedicamentos
      </p>
 
   </div>



   
  
    
  <div class="container-atend-rodape">


      <div class=" voltarLink">
        <button type="button" class="btn btn-success"  routerLink="/atendimento" >Voltar</button>
  
      </div>  


      <div class="row separacao-atendimento">


          <div class="row texto-rodape">
              <p> <strong>Ainda com Duvidas?</strong> Entre em contato por telefone ou envie um e-mail para atendimento@rd.com.br<p>
          </div>

      </div>

  </div>


</div>

 
