
<nav class="navbar navbar-expand-lg navbar-dark bg-light" style="background: #016f33 !important">
      
  <div class="alinhamento collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav navbar-custom ">

      <li class="nav-item navbar-custom">
        <a class="nav-link" (click)="link(1)">Medicamentos</a>
      </li>
      
      <li class="nav-item">
        <a class="nav-link" (click)="link(8)" >Vitaminas e Suplementos</a>
      </li>

      <li class="nav-item">
        <a class="nav-link" (click)="link(27)" >Beleza</a>
      </li>

      <li class="nav-item">
        <a class="nav-link" (click)="link(11)" >Dermocosméticos</a>
      </li>

      <li class="nav-item">
        <a class="nav-link" (click)="link(28)">Cuidados Diários</a>
      </li>

      <li class="nav-item">
        <a class="nav-link" (click)="link(4)">Infantil</a>
      </li>                   
    </ul>
  </div>
</nav>
