.alinhamento{
    background: #016f33;
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    padding: 0;
    margin-left: 0px;


}

.nav-item{
    margin-right: 10px;
    margin-left: 10px;
}

.navbar-nav{
    font-size: 20px;

}
.navbar-custom .nav-item.active .nav-link,
.navbar-custom .nav-item:hover .nav-link {
    color: #dfdfdf !important;
}
.navbar-custom a { 
    color: #ffffff !important;
 }

 .navbar{
     display: flex;
     justify-content: center;
 }