<div class="row">
  <div class="col-lg-12">
    <nav class="navbar navbar-expand navbar-light" style="background-color: #016f33;">
      <div class="collapse navbar-collapse categoria-header" id="navbarNavAltMarkup">
        <div class="navbar-nav categoria-header-links">
          <ul>
            <li><a class="nav-item nav-link" routerLink="">Medicamentos</a></li>
            <li><a class="nav-item nav-link" routerLink="">Saúde</a></li>
            <li><a class="nav-item nav-link" routerLink="">Vitaminas e Suplementos</a>
            </li>
            <li><a class="nav-item nav-link" routerLink="">Beleza</a></li>
            <li><a class="nav-item nav-link" routerLink="">Dermocosméticos</a></li>
            <li><a class="nav-item nav-link" routerLink="">Cuidados diários</a></li>
            <li><a class="nav-item nav-link" routerLink="">Infantil</a></li>
            <li><a class="nav-item nav-link" routerLink="">Nossas Marcas</a></li>
            <li><a class="nav-item nav-link" routerLink="">Promoções</a></li>
          </ul>
        </div>
      </div>
    </nav>
  </div>
</div>
