

<div class="row historico-titulo">
    <div class="col-lg-12">
        <h2>Histórico de compras </h2>

    </div>  

</div>




<div class="hist"> 

    <div  class="row historico-tabela" *ngFor= "let ItensPedido of ItensPedido"> 
        <div  class="historico-fundo col-lg-9" >

            <div class="row historico"  >
                <div class="col-lg-12 ">
                    <ul >
                       
                            <p> Data {{ItensPedido.data}}</p>
                       
                            <p> Produto </p>
                       
                      
                            <p> Quantidade  </p>
                        
                      
                            <p> Valor Unitário </p>
                    </ul>
                </div>     
                  
               

                <div class="col-lg-12 item">
                
                    <img src="../../assets/images/caixa-remedio.jpg">
              
                    <p>{{ItensPedido.descricao}}</p>
                

                
                    <p>{{ ItensPedido.quantidade }}</p>
                  

           
                    <p>{{ ItensPedido.valor }}</p>
         
                </div>


            </div>

       
            

        </div>

        <div  class="col-3 botao">
        
            <button type="button" class="btn btn-success">Comprar novamente</button>
    
        </div> 


           
    </div>  




</div>

