

<div class="row historico-titulo">
    <div class="col-lg-12">
        <h2>Histórico de compras </h2>
      
    </div>  

</div>




<div class="hist"> 

    <div *ngFor="let pedido of pedidos" class="row historico-tabela" >
        <div  class="historico-fundo col-lg-9">

            <div class="row historico">
                <div class="col-lg-12">
                    <ul>
                        <div class="col-3 item">
                            <p> {{ itemPedido.dtCompra | date: 'dd/MM/yyyy'  }} </p>
                        </div>
                        <div class="col-3 item">
                            <p> {{ itemPedido.idPedido }} </p>
                        </div>
                        <div class="col-3 item">
                            <p> {{ itemPedido.qtItensPedido }} </p>
                        </div>
                        <div class="col-3 item">
                            <p> {{ itemPedido.vlTotalPedido }} </p>
                        </div>
                    </ul>
                </div>
            </div>

            <div *ngFor="let itemPedido of pedidos" class="row">
                <div class="col-3 item">
                    <img [src]="pedido.img">
    
                </div>
                <div class="col-3 item">
                    <p>{{ itemPedido.items.cdProduto }}</p>
                </div>
                <div class="col-3 item">
                    <p>{{ itemPedido.items.dsProduto }}</p>
                </div>
                <div class="col-3 item">
                    <p>{{ itemPedido.items.vlPedidoItem }}</p>
                </div>
            
            </div>

            

        </div>

        <div  class="col-3 botao">
        
            <button type="button" class="btn btn-success" routerLink="/cesta">Comprar novamente</button>
    
        </div> 


           
    </div>

</div>

