

<div class="row historico-titulo">
    <div class="col-lg-12">
        <h2>Histórico de compras </h2>
    </div>  

</div>




<div class="hist"> 

    <div *ngFor="let quant of qtd" class="row historico-tabela" >
        <div  class="historico-fundo col-lg-9">

            <div class="row historico">
                <div class="col-lg-12">
                    <ul>
                        <div class="col-3 item">
                            <p> {{ quant.data  }} </p>
                        </div>
                        <div class="col-3 item">
                            <p> Produto </p>
                        </div>
                        <div class="col-3 item">
                            <p> Quantidade </p>
                        </div>
                        <div class="col-3 item">
                            <p> Valor Unitário </p>
                        </div>
                    </ul>
                </div>
            </div>

            <div *ngFor="let produto of produtos" class="row">
                <div class="col-3 item">
                    <img [src]="produto.img">
    
                </div>
                <div class="col-3 item">
                    <p>{{ produto.nome }}</p>
                </div>
                <div class="col-3 item">
                    <p>{{ produto.quantidade }}</p>
                </div>
                <div class="col-3 item">
                    <p>{{ produto.valor }}</p>
                </div>
            
            </div>

            

        </div>

        <div  class="col-3 botao">
        
            <button type="button" class="btn btn-success">Comprar novamente</button>
    
        </div> 


           
    </div>

</div>

