 

 

  

 

<div class="row col justify-content-center">       

    
    <div class="row pag-titulo">
          <div class="col-lg-12">

              <h2> Contato </h2>

          </div>    
      </div>


   <div class="container-texto">   

    <h2 class="tituloContainer"> Central de atendimento ao cliente</h2>

      <br>

      <p>
          Telefone:  3003-7242 
      <p> Email: atendimento@rd.com.br.  
      <p> Atendimento de Segunda á Sábado, das 8:00h às 21:00h 
        
      </p>
 
   </div>



   
  
    
  <div class="container-atend-rodape">


      <div class=" voltarLink">
        <button type="button" class="btn btn-success"  routerLink="" >Voltar</button>
  
      </div>  


      <div class="row separacao-atendimento">


          <div class="row texto-rodape">
              <p> <strong>Ainda com Duvidas?</strong> Entre em contato por telefone ou envie um e-mail para atendimento@rd.com.br<p>
          </div>

      </div>

  </div>


</div>





 









