 

<div class="row col justify-content-center">       

 
    <div class="row pag-titulo">
          <div class="col-lg-12">

              <h2>Acompanhe seu Pedido </h2>

          </div>    
      </div>


   <div class="container-texto">   

      <h2 class="tituloContainer">  Efetua entrega em Caixa Postal?</h2>
      <br>
      <p>
      Para modalidades atendidas por Transportadora e Motoboy não é permitido o envio em caixa postal. 
      Válido apenas para entregas via Correios.
      </p>

      <br><br>

      <h2 class="tituloContainer"> Pedido em atraso na entrega?</h2>

      <br>

      <p>
          É de extrema importância que todos os pedidos sejam entregues dentro do prazo estipulado conforme a finalização da compra,
           porém alguns fatores podem acarretar para o atraso em seu pedido como mudanças climáticas, trânsito, acidentes, etc.
          <br>Caso seu pedido esteja em atraso entre em contato com nossos canais de atendimento através do telefone 3004-8007 ou atendimento@drogasil.com.br, 
           Atendimento de Segunda á Sábado, das 8:00h às 21:00h.
      </p>

      <br><br>

      <h2 class="tituloContainer">  Qual o prazo para compensação do pagamento do boleto?</h2>
      <br>
      <p>

          O prazo para compensação bancária são de até 2 dias úteis. Após esse prazo o pedido é liberado e segue na modalidade de entrega escolhida.

      </p>

      <br><br>

      <h2 class="tituloContainer">   Paguei o boleto, por que meu pedido foi cancelado?</h2>
      <br>

      <p>

          Alguns fatores podem acarretar o cancelamento do pedido.
          Para obter mais esclarecimentos entre em contato com a nossa Central de Atendimento ao Cliente através do telefone 3004-8007
           ou atendimento@drogasil.com.br. Atendimento de Segunda á Sábado, das 8:00h às 21:00h.
      </p>


      <br><br>

      <h2 class="tituloContainer">  Por que meu pedido não foi aprovado?</h2>
      <br>

      <p>

          Alguns fatores podem contribuir para não aprovação do seu pedido, como divergências nos dados do cadastro, não autorização pela 
          administradora do cartão,limite indisponível, etc.
          <br>Para mais informações entre em contato com a nossa Central de Atendimento ao Cliente, através do telefone 
           3004-8007 ou atendimento@drogasil.com.br, Atendimento de Segunda á Sábado, das 8:00h às 21:00h.
      </p>

      <br><br>

      <h2 class="tituloContainer">  Como solicitar a reentrega?</h2>
      <br>

      <p>

          A solicitação pode ser feita através da nossa Central de Atendimento ao Cliente, através do telefone 3004-8007 ou atendimento@drogasil.com.br,
           Atendimento de Segunda á Sábado, das 8:00h às 21:00h.
      </p>




   </div>



   
  
    
  <div class="container-atend-rodape">


      <div class="row voltarLink">
        <button type="button" class="btn btn-success"  routerLink="/atendimento" >Voltar</button>
  
      </div>  


      <div class="row separacao-atendimento">


          <div class="row texto-rodape">
              <p> <strong>Ainda com Duvidas?</strong> Entre em contato por telefone ou envie um e-mail para atendimento@rd.com.br<p>
          </div>

      </div>

  </div>


</div>











