 

<div class="row col justify-content-center">
 
    <div class="row pag-titulo">
          <div class="col-lg-12">

              <h2>Regras de frete </h2>

          </div>    
      </div>


   <div class="container-texto">   


      <p>
           <strong>Prazo de entrega</strong> 

          O prazo de entrega varia de acordo com a localidade. 
          No site o prazo pode ser visualizado na página do produto no campo " frete e prazo" ou em sua cesta.
          Para verificar o prazo de entrega de pedido já finalizado, clique na aba “Minha Conta > Meus Pedidos”.
      </p>


      <p>
          <strong>Compre e Retire</strong> 

          Com opção compre e retire você faz seu pedido no site e retira em uma de nossas lojas. A retirada só deverá acontecer após o recebimento do e-mail com a confirmação de disponibilidade do produto na loja selecionada.
          O pedido ficará disponível para retirada no prazo máximo de 7 dias, a contar da data de recebimento do e-mail de disponível para retirada.
      </p>


      <p>
           <strong>Entrega convencional</strong> 

          As entregas convencionais são realizadas de segunda a sexta-feira das 8h às 18h, exceto feriados locais ou nacionais.

      </p>





   </div>

     
          
    
  <div class="container-atend-rodape">

      <div class="row voltarLink">
        <button type="button" class="btn btn-success"  routerLink="/atendimento" >Voltar</button>
  
      </div>  


      <div class="row separacao-atendimento">


          <div class="row texto-rodape">
              <p> <strong>Ainda com Duvidas?</strong> Entre em contato por telefone ou envie um e-mail para atendimento@rd.com.br<p>
          </div>

          
      </div>

  </div>

</div>






