 
<div class="row col justify-content-center">
 
    <div class="row pag-titulo">
          <div class="col-lg-12">

              <h2>Troca ou Devolução </h2>

          </div>    
      </div>


   <div class="container-texto">   

      <h2 class="tituloContainer"> Como efetuar uma troca ou devolução?</h2>
          <br>
      <p>
              Você pode trocar qualquer produto comprado pelo site, televendas ou aplicativo em uma de nossas Lojas 
          Físicas ou Central de Atendimento em até 30 dias após a data da compra. Leve o produto, documento de identificação 
          e a nota fiscal.
      <br> <br>
          <strong>Importante:</strong> 
        <br>
          O crédito será concedido de acordo com o valor do produto mencionado no cupom ou nota fiscal.
          Se o produto escolhido para a troca for diferente do produto danificado/ avariado, será cobrada a diferença, de acordo com a política 
          de preços vigente na loja. 
          Caso o produto escolhido para a troca seja de um valor inferior realizaremos o estorno/reembolso do valor.

      </p>
      <br><br><br>

      <h2 class="tituloContainer">Qual o prazo para reembolso, estorno e depósito?</h2>

      <br>

      <p>
          O prazo para devolução de valores é de até 5 dias úteis apartir da devolução do pedido a farmácia ou 
          após confirmação do cancelamento no sistema.
      </p>




   </div>

    
  <div class="container-atend-rodape">


      <div class="row voltarLink">
        <button type="button" class="btn btn-success"  routerLink="" >Voltar</button>
  
      </div>  

      
      <div class="row separacao-atendimento">
 

          <div class="row texto-rodape">
              <p> <strong>Ainda com Duvidas?</strong> Entre em contato por telefone ou envie um e-mail para atendimento@rd.com.br<p>
          </div>
          
      </div>

  </div>


</div>








