 

 

<div class="row col justify-content-center">       

 
    <div class="row pag-titulo">
          <div class="col-lg-12">

              <h2> Minha Conta </h2>

          </div>    
      </div>


   <div class="container-texto">   

    <h2 class="tituloContainer"> Esqueci minha senha de acesso, o que faço?</h2>

      <br>

      <p>
        Para solicitar o reset de senha o cliente deve clicar em " Fazer login" após clicar em
         " Esqueceu sua senha"  e digitar e-mail ou CPF cadastrado, será enviado o link no e-mail 
         de cadastro para alteração de senha. Após a alteração o cliente deve clicar novamente e 
         fazer o login com a senha atual.
         <p>*Caso o cliente não tenha mais acesso ao e-mail cadastrado é necessário fazer contato com 
        nossos canais de atendimento e solicitar a alteração do e-mail. 
        <p>Central de atendimento ao Cliente 3004-8007 ou atendimento@drogasil.com.br.                                
        Atendimento de Segunda á Sábado, das 8:00h às 21:00h.
      </p>

      
      <br><br>


      <h2 class="tituloContainer">  Como excluir meu cadastro?</h2>
      <br>
      <p>
        Para exclusão do cadastro é necessário que a solicitação seja feita através da nossa Central de Atendimento ao Cliente no telefone 3004-8007 ou atendimento@drogasil.com.br.                              
        Atendimento de Segunda á Sábado, das 8:00h às 21:00h.
      </p>

      <br><br>

    

      <h2 class="tituloContainer"> Por que não consigo me cadastrar no site?</h2>
      <br>
      <p>

        Alguns fatores podem impossibilitar o cadastro no Site como divergência de dados, já possuir 
        cadastro, etc.
        <p>Recomendamos que preencha todos os dados do cadastro e verifique a mensagem apresentada, 
           caso não consiga finalizar, solicitamos que entre em contato com a nossa Central de 
           Atendimento ao Cliente através do telefone 3004-8007 ou atendimento@drogasil.com.br.     
           Atendimento de Segunda á Sábado, das 8:00h às 21:00h.

      </p>
 

   </div>



   
  
    
  <div class="container-atend-rodape">


      <div class="row voltarLink">
     
          <button type="button" class="btn btn-success"  routerLink="/atendimento" >Voltar</button>
  
      </div>  


      <div class="row separacao-atendimento">


          <div class="row texto-rodape">
              <p> <strong>Ainda com Duvidas?</strong> Entre em contato por telefone ou envie um e-mail para atendimento@rd.com.br<p>
          </div>

      </div>

  </div>


</div>





















